.haut, .bas
{
    width: 75px;   
}

.droite, .gauche
{
    height: 50px;
}

.rouge
{
    background: red;
}

.jaune
{
    background: yellow;
}
.orange
{
    background: orange;
}

.bleu
{
    background: #7093DB;
}

.bleu_fonce
{
    background: blue;
}

.violet
{
    background: purple;
}

.violet_claire
{
    background: #9F5F9F;
}

.vert
{
    background: green;
}

#prison
{
    text-align: top;
}

.caisse
{
    background-image: url("caisse.jpeg"), url("fond.jpeg");
    background-repeat: no-repeat, repeat; 
}

body
{
    font-family: "Arial";
    font-size:1px;
}

td
{
    border: 5px black solid;
}